root {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);
  background-repeat: no-repeat;

}

.hide {
  display: none;
}


/* -----------------------SCREEN 1-------------------------------*/

.app_container1 {
  position: relative;
  width: 42.8rem;
  height: 42.4rem;

  margin-top: 50vh;
  transform: translateY(-50%);

  background: #FFFFFF;
  box-shadow: 0px 2rem 5rem rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  
}

.main_screen1 {
  position: absolute;

  width: 30rem;
  height: 31.2rem;
  left: 14.95%;
  right: 14.95%;
  top: 4.8rem;


}

.main_screen1 h1 {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 2.4rem;
line-height: 2.9rem;
display: flex;
align-items: center;
text-align: center;

color: #34355B;
}

main p {
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 2rem;

text-align: center;

color: #34355B;

}

.main_screen1 .img {

width: 26.4rem;
height: 20rem;

}

/*----------------------- SCREEN 2-----------------------------*/

.app_container2 {
  position: relative;
  width: 42.8rem;
  height: 42.4rem;

  margin-top: 50vh;
  transform: translateY(-50%);

  background: #FFFFFF;
  box-shadow: 0px 2rem 5rem rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  
}

