root {
  font-size: 62.5%;
}

body {

  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);


}

.hide {
  display: none;
}


/* -----------------------SCREEN 1-------------------------------*/

.app_container1 {
  position: relative;
  width: 42.8rem;
  height: 42.4rem;

  margin-top: 50vh;
  transform: translateY(-50%);

  background: #FFFFFF;
  box-shadow: 0px 2rem 5rem rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  
}

.main_screen1 {
  position: absolute;

  width: 30rem;
  height: 31.2rem;
  left: 14.95%;
  right: 14.95%;
  top: 4.8rem;


}

.main_screen1 .title,
.main_screen2 .title {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 2.4rem;
line-height: 2.9rem;
display: flex;
align-items: center;
text-align: center;

color: #34355B;
}

main p {
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 2rem;

text-align: center;

color: #34355B;

}

.main_screen1 .img {

width: 26.4rem;
height: 20rem;
transiton: transform 1s;

}

.img:hover {
  cursor: pointer;
  animation: shake 120ms ease;
  animation-iteration-count: infinite;
}

/*----------------------- SCREEN 2-----------------------------*/

.app_container2 {
  position: relative;
  width: 42.8rem;
  height: 56.4rem;

  background: #FFFFFF;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
 
}

.main_screen2 {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

  gap: 1.7rem;
}

.main_screen2 .title {
  width: 29.7rem;
  height: 5.8rem;

  margin-top: 4.8rem;
}

.luck {
  width: 29.3rem;
  height: 10.7rem;

  background: #E4EDF1;
  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);

  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
  text-align: center;

  color: #000000;

  display:flex;
  justify-content: center;
  align-items: center;


}

.main_screen2 .img2 {
  width: 30rem;
  height: 20rem;

}

.button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1.6rem;
gap: 1rem;

width: 17.4rem;
height: 5.2rem;

background: #FF9500;
border-radius: 4px;

color: #fff;
border:none;
}

.button:focus {
  overlay: none;
} 

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

